<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Well Soon</title>
</head>
<body>
    <h1>Create Profile</h1>

    <% if (errors) { %>
        <% if (errors.length>1) { %>
            <% errors.split(',').forEach(el => { %>
                <div style="color: red;"><%= el %></div>
            <% }) %>
        <% } else { %>
            <div style="color: red;"><%= errors %></div>
        <% } %>
    <% } %>
    <br>
    
    <form method="post">
        <label for="firstName">First Name</label><br>
        <input type="text" name="firstName" id="firstName"><br><br>

        <label for="lastName">Last Name</label><br>
        <input type="text" name="lastName" id="lastName"><br><br>

        <label for="birthDate">Birth Date</label><br>
        <input type="date" name="birthDate" id="birthDate"><br><br>

        <label for="gender">Gender</label><br>
        <select name="gender" id="gender">
            <option selected disabled>---Choose Gender---</option>
            <% gender.forEach(el => { %>
                <option value="<%= el %>"><%= el %></option>
            <% }) %>
        </select><br><br>

        <label for="phoneNumber">Phone Number</label><br>
        <input type="text" name="phoneNumber" id="phoneNumber"><br><br>

        <label for="profilePicture">Profile Picture</label><br>
        <input type="text" name="profilePicture" id="profilePicture"><br><br>

        <label for="address">Address</label><br>
        <textarea id="address" name="address"></textarea><br><br>

        <button>Submit</button>
    </form>
</body>

</html>