<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Well Soon</title>
</head>
<body>
    <h1>Get Well Soon</h1>

    <a href="/register"><button>Register</button></a>
    <a href="/login"><button>Login</button></a>

</body>
</html>