<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Well Soon</title>
</head>
<body>
    <h1>Patient Medical Records</h1>

    <p>User : Fullname XXX</p>
    <p>Age : XXX</p>
    
    <table border="1">
        <thead>
            <th>No</th>
            <th>Disease Name</th>
            <th>Disease Level</th>
            <th>Date Consultation</th>
            <th>Doctor Name</th>
            <th>Fee Consultation</th>
        </thead>
        <tbody>

        </tbody>
    </table>
    
</body>
</html>