<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Well Soon</title>
    <link rel="stylesheet" href="styles.css">
    <style>
body {
    font-family: Arial, Arial, Helvetica, sans-serif sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: justify;
    color: #333;
    margin-bottom: 400px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input:focus, .form-group select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: maroon;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
    
}

    </style>
</head>
<body>
    <h1>Register</h1>

    <% if (errors) { %>
        <% if (errors.length>1) { %>
            <% errors.split(',').forEach(el => { %>
                <div style="color: red;"><%= el %></div>
            <% }) %>
        <% } else { %>
            <div style="color: red;"><%= error %></div>
        <% } %>
    <% } %>
    <br>

    <form method="post">
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" placeholder="input your username here"><br><br>

        <label for="email">Email</label><br>
        <input type="email" name="email" id="email" placeholder="input your email here"><br><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" placeholder="input your password here"><br><br>

        <label for="role">Choose Your Role</label><br>
        <select name="role" id="role">
            <option selected disabled>---Choose Your Role---</option>
            <% role.forEach(el => { %>
                <option value="<%= el %>"><%= el %></option>
            <% }) %>
        </select><br><br>

        <button>Register</button>
    </form>

    <br>
    <a href="/"><button>Cancel</button></a>
    
</body>
</html>